
{{#each users}}
<section class="ui segment">
     <h4 class="ui header">
      <a href="/trainerassessments/{{id}}"><i class="big black github icon"></i></a>
        <div class="content">
          <a href="/trainerassessments/{{id}}">{{name}}</a>
          <a href="/trainerdashboard/deleteuser/{{id}}">
          <i class="red trash alternate icon"></i></a>
          <br>
          <div class="sub header">{{countAssessments}} assessments</div>
          </div>
    </h4>
</section>
{{/each}}
     


