
<!-- Goals with a status of Open are displayed first -->
<div class="ui cards">
  {{#each openGoals}}
    <div class="ui card">
      <div class="content">
        <div class="header"><span class="ui green text">Goal: {{measurement}} of {{target}}
        </div>
      </div>
      <div class="content">
        <h4 class="ui sub header">Due {{targetDate}}</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
             <div class="ui list">
                <div class="item">Created {{date}}</div>
                <div class="item">
                    {{#if percentTargetAchieved}}
                      {{percentTargetAchieved}}% of target achieved
                    {{/if}}
                </div>
                <div class="item">{{daysRemaining}} days remaining</div>
                <div class="item">
                  {{#if addedBy}}
                    added by {{addedBy}}
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
       </div>
      </div>
      <div class="extra content">
        <a href="/dashboard/deletegoal/{{id}}" class="ui icon button">
        <i class="icon trash"></i>
        </a>
      </div>
    </div>
{{/each}}
</div>

<!-- Goals with a status other than open are displayed by title, further details available upon clicking, using accordion module -->
<div class="ui cards">
  {{#each closedGoals}}
    <div class="ui card">
      <div class="ui accordion">
        <div class="title">
        <!-- title of the accordion card is the title and a status sub header     -->
          <div class="ui card">
            <div class="content">
              <div class="ui small header"><i class="dropdown icon"></i><a>Goal {{status}}: {{measurement}} of {{target}}</a>
                {{#if achieved}}
              <div class="right floated"><i class="star outline icon"></i></div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
<!-- end of div title   -->
    <div class="content">
      <div class="ui card">
        <div class="content">
          <div class="ui list">
            <div class="item">Target date {{targetDate}}</div>
            <div class="item">Created {{date}}</div>
            <div class="item">
               {{#if percentTargetAchieved}}
                 {{percentTargetAchieved}}% of target achieved
               {{/if}}
            </div>
            <div class="item">{{daysRemaining}} days remaining</div>
            <div class="item">
              {{#if addedBy}}
                added by {{addedBy}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="extra content">
          <a href="/dashboard/deletegoal/{{id}}" class="ui icon button">
          <i class="icon trash"></i>
          </a>
        </div>
      </div>
      <script>$('.ui.accordion').accordion();</script>
    </div>
    </div>
  </div>
  {{/each}}
  </div>
  
