{{> menu id="settings"}}

<section>
  <div class="ui two column grid basic middle aligned segment">
    <div class="column">
      <form class="ui stacked segment form" action="/updateuser/{{user.id}}" method="POST">
        <h3 class="ui header">Update your details</h3>
          <div class="two fields">
            <div class="field">
              <label>Name</label>
              <input value="{{user.name}}" type="text" name="name">
            </div>
            <div class="field">
              <label>Gender</label>
              <input value="{{user.gender}}" type="text" name="gender">
            </div>
            </div>
            <div class="field">
              <label>Email</label>
              <input value="{{user.email}}" type="text" name="email">
            </div>
            <div class="field">
              <label>Password</label>
              <input value="{{user.password}}" type="password" name="password">
            </div>
            <div class="field">
              <label>Address</label>
              <input value="{{user.address}}" type="text" name="address">
            </div>
          <div class="two fields">
             <div class="field">
              <label>Height</label>
              <input value="{{user.height}}" type="text" name="height">
             </div>
             <div class="field">
               <label>Starting Weight</label>
               <input value="{{user.startingWeight}}" type="text" name="startingWeight">
              </div>
           </div>
           <button class="ui blue submit button">Submit</button>
        </form>
     </div>
     <div class="column">
        <img class = "ui image" src="https://cdn.glitch.com/7175afa9-007f-4a45-8adf-a817b66833af%2Fthumbnails%2Fabout.jpg?1598386332922">
     </div>
  </div>
</section>